
body {
	font-family: "Myriad Pro";
	font-size: 30px;
	color: #898989;
}

/*-- begin header, include footer menu--*/
.heder-conteiner-logo-menu{
	display: flex;
	background-color: #000000;
	align-items: center;	
}
.logo, .menu, .footer_menu{
	font-size: 30px;
	margin: auto;
	color: #898989;	
}
.menu ul, .footer_menu ul{
	padding:0px;
}
.menu ul li, .footer_menu ul li{
	display: inline-block;
	list-style: none;
}
.menu a, .footer_menu a{
	padding-right: 6px;
	border-right: 1px solid #898989;
	text-decoration: none;
	color: #898989;
}
.menu a:hover, .footer_menu a:hover{
	color: #ffb216; 
}
.header-conteiner-baner-slogan{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #b8b8b8;		
}
.baner img{
	width: 100%;
}
.slogan{
	font-size: 30px;
	color: #898989;
	text-align: right;
	align-items: center;
}
/*-- end header --*/

/*-- begin content--*/
.content{
	display: flex;
	flex-direction: column;	
}
/*-- begin title-profile, title-workflow, title-contacts  in content --*/
.title-profile, .title-workflow, .title-contacts {
	display: flex;
	background-color: #000000;
	justify-content: center;
}
.profile p, .workflow p, .contacts p{
	font-size: 30px;
	color: #ffb216; 
	padding-left: 6px;
	padding-right: 6px;
	border-right: 1px solid #ffb216; 
	border-left: 1px solid#ffb216;	
}
/*-- end title-profile, title-workflow, title-contacts in content --*/

/*-- begin section profile in content --*/
.content-conteiner-profile{
	display: flex;
	justify-content: center;
	margin:auto;	
}
.content-conteiner-photo-greeting, .content-conteiner-description-wish{
	display: flex;
	flex-direction: column;	
	padding: 20px;
	align-items: center;
}
.photo, .greeting, .description, .wish{
	margin: auto;
	font-size: 24px;
	text-align: justify;
	padding:20px;
}
/*-- end section profile in content --*/

/*-- begin section workflow in content --*/
.mobile-dev, .web-dev{
	display: flex;
}
.mobile-dev h3, .web-dev h3{
	margin-left: 80px;
	font-size: 30px;
	border-bottom: 1px solid#898989;
	color: #898989;	
}
.content-conteiner-collection-row{
	display: flex;
	justify-content: center;
	align-items: center;		
}
.collection-cell{
	margin:30px;
}
.cell-icon, .cell-icon img{
	border-radius: 10px;
	width: 200px;
	height: 200px;
	background-color: #ece7e7;
}

.cell-description{
	font-size: 14px;
}
/*-- end section workflow in content --*/

/*-- begin section contacts in content--*/
.contacts-conteiner-links{
	display: flex;
	justify-content: center;	
	align-items: center;	
}
.links{
	margin-top: 100px;
	margin-bottom: 100px;
	font-size: 80px;
}
.links ul{
	padding: 0px;
}
.links ul li{
	display: inline-block;
	list-style: none;
}
.links a{	
	color: #000000;
	margin:80px;	
}
.links a:hover{
	color:#ffb216;
}
.button{
	margin-bottom: 100px;
	margin-left: 80px;
}
.button a{
	padding: 10px;
	font-size: 10px;
	border: 2px solid #ffb216;
	border-radius: 50px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-decoration: none;
	background-color: #000000;
	color: #ffb216;
}
.button a:hover{
	background-color: #ffb216;
	color: #000000;
	border-color: #000000;
}
/*-- end section contacts in content--*/
/*-- end content--*/

/*-- begin footer--*/
.footer{
	display: flex;
	flex-direction: column;
	background-color: #000000;	
	justify-content: center;
	height: 399px;
}
.footer_conteiner{
	display: flex;
}
.develop, .rights{
	padding-top: 0px;
	font-size: 24px;
	color: #898989;
	text-align: center;
}
.button-up{
	text-align: right;	
	padding: 40px;
}
.button-up a{
	padding: 20px;
	font-size: 30px;
	border: 2px solid #ffb216;
	border-radius: 200px;
	text-decoration: none;
	background-color: #000000;
	color: #ffb216;
}
.button-up a:hover{
	background-color: #ffb216;
	color: #000000;
	border-color: #000000;
}
/*-- end footer--*/

/*-- begin media--*/
@media (max-width: 1024px){
	.heder-conteiner-logo-menu {	
		flex-direction: column;	
	}
	.logo{
		color: #ffb216;
		font-size: 25px;
	}
	.menu, .footer_menu{
		font-size: 24px;
	}
	.baner{
		margin-top:50px;
	}
	.slogan{
		font-size: 20px;
		margin-top:50px;
		margin-bottom: 50px;
	}
	.content-conteiner-profile{
		flex-direction: column;
	}
	.photo, .greeting, .description, .wish{

		padding:0px;	
	}
	.photo img{
		margin:0px;
		padding: 0px;
	}
	.content-conteiner-photo-greeting, .content-conteiner-description-wish{
		padding: 5px;
	}
	.mobile-dev h3, .web-dev h3{
		margin-left: 10px;	
	}
	.content-conteiner-collection-row{
		align-items: center;
		flex-direction: column;	
	}
	.links{
		margin-top: 50px;
		margin-bottom: 50px;
		font-size: 50px;
	}
	.links a{	
		margin:0px;
	}
	.button{
		margin-left: 10px;
	}
	.button-up{
		padding: 10px;
	}
}
/*-- end media--*/





